#one {
    background-color: brown;
    position:relative;
    top:-1.5rem;
}

#two {
    background-color: orangered;
    position:relative;
    top:-3rem;
  }
#third {
    background-color: goldenrod;
    position:relative;
    top:-4.5rem;
}
#fourth {
    background-color: green;
    position:relative;
    top:-6rem;

}
#fifth {
  background-color: blue;
  position:relative;
  top:-7.5rem;

}
#sixth {
  background-color: purple;
  position:relative;
  top:-9rem;

}
#seventh {
  background-color: plum;
  position:relative;
  top:-10.5rem;

}
.inclinado {
    -webkit-clip-path: polygon(0 0, 100% 7%, 100% 93%, 0 100%);
    clip-path: polygon(0 0, 100% 7%, 100% 93%, 0 100%);
}
.inclinado-alt{
  -webkit-clip-path: polygon(0 7%, 100% 0%, 100% 100%, 0 93%);
  clip-path: polygon(0 7%, 100% 0%, 100% 100%, 0 93%);
}

  .parallax {
    /* The image used */
    background-image: url("../../images/dsn_logo_wp_oscuro.jpg");
  
      
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .doc-loader {
    margin:2rem;
  }

  .hero {
    
    padding: 3rem 1rem;
    line-height: 84px;
    font-weight: 700;
    font-size: 80px;
    color: #fff;
    font-family: "Poppins";
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
  }

  /* ====== SOMBRAS ======*/

.z-depth-0 {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.z-depth-1-half {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.z-depth-1 {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.z-depth-2 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.z-depth-3 {
  -webkit-box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
}

.z-depth-4 {
  -webkit-box-shadow: 0 14px 12px 0 rgba(0, 0, 0, 0.17), 0 20px 40px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 14px 12px 0 rgba(0, 0, 0, 0.17), 0 20px 40px 0 rgba(0, 0, 0, 0.3);
}

.z-depth-5 {
  -webkit-box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.15), 0 27px 55px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.15), 0 27px 55px 0 rgba(0, 0, 0, 0.3);
}

  /* ====== Bordes ======*/

  .border-w2 {
    border-width: 2px !important;
  }