/**
 * Custom styles to immediately follow Tailwind’s `components` layer
 *
 * “Add more opinionated, complex classes like buttons, form controls, alerts,
 * etc; the sort of pre-built components you often see in other frameworks that
 * you might need to override with utility classes.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-components
 */

/**
 * Post title styles
 *
 * These will be applied to all headings with an `entry-title` class on the
 * frontend and to the post heading in the block editor.
 *
 * The supplied styles are meant to match the default `h1` classes from
 * Tailwind Typography.
 *
 * The `$post-title-selector` variable is replaced by PostCSS. Please see the
 * `postcss.config.js` file for details.
 */
$post-title-selector {
	@apply mx-auto mb-6 max-w-content text-3xl font-extrabold text-neutral-900;
}

/**
 * Post content styles (via Tailwind Typography)
 *
 * These will be applied to all content blocks with an `entry-content` class on
 * the frontend and within the block editor.
 *
 * The `$post-content-selector` variable is replaced by PostCSS. Please see the
 * `postcss.config.js` file for details.
 *
 * For details on how to customize Tailwind Typography via its modifier
 * classes, please see:
 *
 * https://tailwindcss.com/docs/typography-plugin
 */
$post-content-selector {
	@apply prose prose-neutral max-w-none prose-a:text-primary;
}

/* Content width from the `theme.json` file */
.entry-content > * {
	@apply mx-auto max-w-content;
}

/* Wide width from the `theme.json` file */
.entry-content > .alignwide {
	@apply max-w-wide;
}

/* Full width */
.entry-content > .alignfull {
	@apply max-w-none;
}

/* dsñ */
.nav-pral{
	@apply py-2 px-4 mx-1 bg-dblue-800 text-white font-semibold rounded-lg shadow-md hover:bg-dblue-600 focus:outline-none focus:ring-2 focus:ring-dblue-400 focus:ring-opacity-75;
  }
  .bloque-web
  {
	@apply p-2;
  }
  #seccion-servicios {
	@apply bg-clip-border bg-fixed bg-cover bg-center bg-no-repeat;
  }
  .btn-dblue {
	@apply min-w-[8rem] text-white text-center bg-gradient-to-br from-dblue-300 to-dblue-700 hover:from-dblue-500 hover:to-dblue-900 shadow-lg shadow-dgray-700 hover:shadow-sm hover:shadow-dgray-700 font-bold rounded-lg px-3 py-2;
  }
  .btn-dblue-dark {
	@apply min-w-[8rem] text-white text-center bg-gradient-to-br from-dblue-500 to-dblue-900 hover:from-dblue-200 hover:to-dblue-700 shadow-lg shadow-dgray-700 hover:shadow-sm hover:shadow-dgray-700 font-bold rounded-lg px-3 py-2;
  }
  .btn-dgray {
	@apply min-w-[8rem] text-white text-center bg-gradient-to-br from-dgray-300 to-dgray-700 hover:from-dgray-500 hover:to-dgray-900 shadow-lg shadow-dgray-700 hover:shadow-sm hover:shadow-dgray-700 font-bold rounded-lg px-3 py-2;
  }
  .btn-dgray-dark {
	@apply min-w-[8rem] text-white text-center bg-gradient-to-br from-dgray-500 to-dgray-900 hover:from-dgray-200 hover:to-dgray-700 shadow-lg shadow-dgray-700 hover:shadow-sm hover:shadow-dgray-700 font-bold rounded-lg px-3 py-2;
  }
