html>

<head>

    <title>DSÑ arquitectura y urbanismo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="images/favicon.png" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7CPT+Serif:400,700' rel='stylesheet' type='text/css'>

    <!-- Compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/pulse/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-/uQFqO50IaQu2rNJYKPpV7zwsWJtd6V4DGX4wMw1ATz4KPuZEV96qQ2heVAw2kr2" crossorigin="anonymous">

    <link href="assets/css/main.css" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    
    <!-- <link rel="stylesheet" type="text/css"  href='css/clear.css' />
    <link rel="stylesheet" type="text/css"  href='css/common.css' />
    <link rel="stylesheet" type="text/css"  href='css/font-awesome.min.css' />
    <link rel="stylesheet" type="text/css"  href='css/carouFredSel.css' />
    <link rel="stylesheet" type="text/css"  href='css/prettyPhoto.css' />
    <link rel="stylesheet" type="text/css"  href='css/sm-clean.css' />
    <link rel="stylesheet" type="text/css"  href='style.css' /> -->

    <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>
            <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    
    <header class="hero parallax">
        <p class="text-center"><img class="border border-dark rounded rounded-circle z-depth-1-half border-w2" src="images/dsn_logochico_100.gif"> Arquitectura <span class="text-warning">y</span> urbanismo</p>
         </header>
    
    <div class="doc-loader">
        <img class="mx-auto d-block" src="images/dsn-spinner.gif" alt="Loading...">
    </div>
                    

    <div style="position:relative;">
        <!--
        Seccion 1 Presentacion
        ================================ -->
        <section id="one" class="inclinado">
            <div class="container">
                <div class="row">
                    <div class="col-3 p-3">
                        <a href="#" class="image"><img src="images/" alt="" /></a>
                    </div>
                    <div class="col-9 p-3">
                        <h2>Que hacemos?</h2>
                        <p>Servicios técnicos de arquitectura, ingeniería y diseño.</p>
                        <p>Creatividad aplicada a la Arquitectura, Ingeniería, Patrimonio , Planeamiento urbanístico y al diseño en su significado más amplio.</p>
                   <a href="#" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
        </section>

        <!--
        Seccion 2 Quienes somos
        ================================ -->
        <section id="two" class="inclinado-alt parallax">
            <div class="container">
                <div class="row">
                    <div class="col-9 p-5">
                        <h2>Quienes somos?</h2>
                        <p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet
                            turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla
                            dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>
                        <a href="#" class="btn btn-primary">Arantcha</a>
                        <a href="#" class="btn btn-secondary">Jose</a>
                    </div>
                    <div class="col-3 p-3">
                        <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
                    </div>
                </div>
                <div class="container">
        </section>
        <!--
        Seccion 3 Proxectos anteriores
        ================================ -->
        <section id="third" class="inclinado">
            <div class="container">
                <div class="row">
                    <div class="col-3 p-3">
                        <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
                    </div>
                    <div class="col-9 p-5">
                        <h2>Proyectos anteriores</h2>
                        <p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet
                            turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla
                            dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>
                        <a href="#" class="btn btn-primary">Portfolio</a>
                    </div>
                </div>
            </div>

        </section>
        <!--
        Seccion 4 Arquitectura
        ================================ -->
        <section id="fourth" class="inclinado-alt">
            <div class="container">
                <div class="row">
                    <div class="col-3 p-3">
                        <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
                    </div>
                    <div class="col-9 p-5">
                        <h2>Arquitectura</h2>
                        <p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet
                            turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla
                            dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>
                        <a href="#" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
        </section>

        <!--
            Seccion 5 Contacto
            ================================ -->
        <section id="fifth" class="inclinado">
            <div class="container">
                <div class="row">
                    <div class="col-3 p-3">
                        <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
                    </div>
                    <div class="col-9 p-5">
                        <h2>Contacta con nosotros</h2>
                        <p>formulario de contacto y direccion.</p>
                        <a href="#" class="btn btn-primary">Contacto</a>
                    </div>
                </div>
            </div>
        </section>

        <!--
            Seccion 6 Siguenos RRSS
            ================================ -->
        <section id="sixth" class="inclinado-alt">
            <div class="container">
                <div class="row">
                    <div class="col-3 p-3">
                        <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
                    </div>
                    <div class="col-9 p-5">
                        <h2>En redes sociales</h2>
                        <p>formulario de contacto y direccion.</p>
                        <a href="#" class="btn btn-primary">facebook</a>
                        <a href="#" class="btn btn-primary">instagram</a>
                    </div>
                </div>
            </div>

        </section>
        <!--
            Seccion 7 Publicaciones
            ================================ -->
        <section id="seventh" class="inclinado">
            <div class="container">
                <div class="row">
                    <div class="col-3 p-3">
                        <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
                    </div>
                    <div class="col-9 p-5">
                        <h2>Publicaciones</h2>
                        <p>Articulos de actualidad.</p>
                        <a href="#" class="btn btn-primary">facebook</a>
                        <a href="#" class="btn btn-primary">instagram</a>
                    </div>
                </div>
            </div>

        </section>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="assets/js/main.js" ></script>
</body>

</html>