.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-images {
  width: 1.125em;
}

.icon-connection {
  width: 1.25em;
}

.icon-books {
  width: 1.125em;
}

.icon-library {
  width: 1.0625em;
}

.icon-price-tags {
  width: 1.25em;
}

.icon-history1 {
  width: 1.0625em;
}

.icon-keyboard1 {
  width: 1.125em;
}

.icon-bubbles {
  width: 1.125em;
}

.icon-bubbles2 {
  width: 1.125em;
}

.icon-bubbles3 {
  width: 1.125em;
}

.icon-bubbles4 {
  width: 1.125em;
}

.icon-users {
  width: 1.125em;
}

.icon-menu2 {
  width: 1.375em;
}

.icon-menu3 {
  width: 1.375em;
}

.icon-menu4 {
  width: 1.375em;
}

.icon-volume-high {
  width: 1.0625em;
}

.icon-embed2 {
  width: 1.25em;
}

.icon-youtube2 {
  width: 2.5087890625em;
}
