@tailwind base;

@layer base {
  h1 {
    @apply text-2xl font-bold mb-3;
  }
  h2 {
    @apply text-xl font-bold mb-2;
  }
  h3 {
    @apply text-lg font-medium mb-1;
  }
  h4 {
    @apply text-lg font-medium mb-1;
  }
  h5 {
    @apply text-base mb-1;
  }

}

@tailwind components;

@layer components {
  .bloque-web 
  {
    @apply p-2;
  }

}
@tailwind utilities;


:root {
  --dgray-100: #f0f3f4;
  --dgray-200: #d7dadc;
  --light-gray: #cacdce; /* gray-300 */
  --spanish-gray: #949494; /* gray-400  */
  --dim-gray: #636567; /* gray-500*/  
  --dgray-600: #4a484d;
  --raisin-black: #322b34; /* gray-700 */ 
  --dgray-800: #1b171c;
  --rich-black-fogra-39: #040404; /* gray-900 */
  --silver-sand: #c4d4d5; /* blue-100 */
  --dblue-200: '#a2c5cd';
  --dblue-300: '#81b7c6';
  --dblue-400: '#60a8bf';
  --blue-green: #3f9ab8; /* blue-500 */
  --dblue-600: '#2f8aac';
  --celadon-blue: #207ba1; /* blue-700 */
  --dblue-800: '#1f5b77';
  --charcoal: #1f3c4e; /* blue-900 */
  --middle-yellow: #ffe600; /* yellow */
}

body {
  background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='79.9' viewBox='0 0 100 199'%3E%3Cg fill='%207ba1ff' fill-opacity='0.3'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E")
}
