/*
! tailwindcss v3.0.12 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: "Century Gothic",Calibri,ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
  display: none;
}

h1 {
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

h2 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

h3 {
  margin-bottom: 0.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
}

h4 {
  margin-bottom: 0.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
}

h5 {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.bloque-web {
  padding: 0.5rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mt-16 {
  margin-top: 4rem;
}

.-mt-16 {
  margin-top: -4rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.hidden {
  display: none;
}

.h-6 {
  height: 1.5rem;
}

.h-72 {
  height: 18rem;
}

.h-20 {
  height: 5rem;
}

.h-40 {
  height: 10rem;
}

.h-80 {
  height: 20rem;
}

.w-\[90px\] {
  width: 90px;
}

.w-6 {
  width: 1.5rem;
}

.w-full {
  width: 100%;
}

.w-20 {
  width: 5rem;
}

.w-40 {
  width: 10rem;
}

.w-80 {
  width: 20rem;
}

.max-w-sm {
  max-width: 24rem;
}

.scale-50 {
  --tw-scale-x: .5;
  --tw-scale-y: .5;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-100 {
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.flex-wrap {
  flex-wrap: wrap;
}

.content-center {
  align-content: center;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-3 {
  gap: 0.75rem;
}

.divide-dgray-50 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(253 248 246 / var(--tw-divide-opacity));
}

.divide-dgray-100 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(240 243 244 / var(--tw-divide-opacity));
}

.divide-dgray-200 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(215 218 220 / var(--tw-divide-opacity));
}

.divide-dgray-300 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(202 205 206 / var(--tw-divide-opacity));
}

.divide-dgray-400 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(148 148 148 / var(--tw-divide-opacity));
}

.divide-dgray-500 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(99 101 103 / var(--tw-divide-opacity));
}

.divide-dgray-600 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(74 72 77 / var(--tw-divide-opacity));
}

.divide-dgray-700 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(50 43 52 / var(--tw-divide-opacity));
}

.divide-dgray-800 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(27 23 28 / var(--tw-divide-opacity));
}

.divide-dgray-900 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(4 4 4 / var(--tw-divide-opacity));
}

.divide-dblue-50 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(225 233 234 / var(--tw-divide-opacity));
}

.divide-dblue-100 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(196 212 213 / var(--tw-divide-opacity));
}

.divide-dblue-200 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(162 197 205 / var(--tw-divide-opacity));
}

.divide-dblue-300 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(129 183 198 / var(--tw-divide-opacity));
}

.divide-dblue-400 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(96 168 191 / var(--tw-divide-opacity));
}

.divide-dblue-500 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(63 154 184 / var(--tw-divide-opacity));
}

.divide-dblue-600 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(47 138 172 / var(--tw-divide-opacity));
}

.divide-dblue-700 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(32 123 161 / var(--tw-divide-opacity));
}

.divide-dblue-800 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(31 91 119 / var(--tw-divide-opacity));
}

.divide-dblue-900 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(31 60 78 / var(--tw-divide-opacity));
}

.divide-dyellow > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(255 230 0 / var(--tw-divide-opacity));
}

.self-center {
  align-self: center;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded {
  border-radius: 0.25rem;
}

.border-2 {
  border-width: 2px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-dblue-300 {
  --tw-border-opacity: 1;
  border-color: rgb(129 183 198 / var(--tw-border-opacity));
}

.border-dgray-100 {
  --tw-border-opacity: 1;
  border-color: rgb(240 243 244 / var(--tw-border-opacity));
}

.border-blue-500 {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity));
}

.border-dgray-50 {
  --tw-border-opacity: 1;
  border-color: rgb(253 248 246 / var(--tw-border-opacity));
}

.border-dgray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(215 218 220 / var(--tw-border-opacity));
}

.border-dgray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(202 205 206 / var(--tw-border-opacity));
}

.border-dgray-400 {
  --tw-border-opacity: 1;
  border-color: rgb(148 148 148 / var(--tw-border-opacity));
}

.border-dgray-500 {
  --tw-border-opacity: 1;
  border-color: rgb(99 101 103 / var(--tw-border-opacity));
}

.border-dgray-600 {
  --tw-border-opacity: 1;
  border-color: rgb(74 72 77 / var(--tw-border-opacity));
}

.border-dgray-700 {
  --tw-border-opacity: 1;
  border-color: rgb(50 43 52 / var(--tw-border-opacity));
}

.border-dgray-800 {
  --tw-border-opacity: 1;
  border-color: rgb(27 23 28 / var(--tw-border-opacity));
}

.border-dgray-900 {
  --tw-border-opacity: 1;
  border-color: rgb(4 4 4 / var(--tw-border-opacity));
}

.border-dblue-50 {
  --tw-border-opacity: 1;
  border-color: rgb(225 233 234 / var(--tw-border-opacity));
}

.border-dblue-100 {
  --tw-border-opacity: 1;
  border-color: rgb(196 212 213 / var(--tw-border-opacity));
}

.border-dblue-200 {
  --tw-border-opacity: 1;
  border-color: rgb(162 197 205 / var(--tw-border-opacity));
}

.border-dblue-400 {
  --tw-border-opacity: 1;
  border-color: rgb(96 168 191 / var(--tw-border-opacity));
}

.border-dblue-500 {
  --tw-border-opacity: 1;
  border-color: rgb(63 154 184 / var(--tw-border-opacity));
}

.border-dblue-600 {
  --tw-border-opacity: 1;
  border-color: rgb(47 138 172 / var(--tw-border-opacity));
}

.border-dblue-700 {
  --tw-border-opacity: 1;
  border-color: rgb(32 123 161 / var(--tw-border-opacity));
}

.border-dblue-800 {
  --tw-border-opacity: 1;
  border-color: rgb(31 91 119 / var(--tw-border-opacity));
}

.border-dblue-900 {
  --tw-border-opacity: 1;
  border-color: rgb(31 60 78 / var(--tw-border-opacity));
}

.border-dyellow {
  --tw-border-opacity: 1;
  border-color: rgb(255 230 0 / var(--tw-border-opacity));
}

.border-x-dgray-50 {
  --tw-border-opacity: 1;
  border-left-color: rgb(253 248 246 / var(--tw-border-opacity));
  border-right-color: rgb(253 248 246 / var(--tw-border-opacity));
}

.border-x-dgray-100 {
  --tw-border-opacity: 1;
  border-left-color: rgb(240 243 244 / var(--tw-border-opacity));
  border-right-color: rgb(240 243 244 / var(--tw-border-opacity));
}

.border-x-dgray-200 {
  --tw-border-opacity: 1;
  border-left-color: rgb(215 218 220 / var(--tw-border-opacity));
  border-right-color: rgb(215 218 220 / var(--tw-border-opacity));
}

.border-x-dgray-300 {
  --tw-border-opacity: 1;
  border-left-color: rgb(202 205 206 / var(--tw-border-opacity));
  border-right-color: rgb(202 205 206 / var(--tw-border-opacity));
}

.border-x-dgray-400 {
  --tw-border-opacity: 1;
  border-left-color: rgb(148 148 148 / var(--tw-border-opacity));
  border-right-color: rgb(148 148 148 / var(--tw-border-opacity));
}

.border-x-dgray-500 {
  --tw-border-opacity: 1;
  border-left-color: rgb(99 101 103 / var(--tw-border-opacity));
  border-right-color: rgb(99 101 103 / var(--tw-border-opacity));
}

.border-x-dgray-600 {
  --tw-border-opacity: 1;
  border-left-color: rgb(74 72 77 / var(--tw-border-opacity));
  border-right-color: rgb(74 72 77 / var(--tw-border-opacity));
}

.border-x-dgray-700 {
  --tw-border-opacity: 1;
  border-left-color: rgb(50 43 52 / var(--tw-border-opacity));
  border-right-color: rgb(50 43 52 / var(--tw-border-opacity));
}

.border-x-dgray-800 {
  --tw-border-opacity: 1;
  border-left-color: rgb(27 23 28 / var(--tw-border-opacity));
  border-right-color: rgb(27 23 28 / var(--tw-border-opacity));
}

.border-x-dgray-900 {
  --tw-border-opacity: 1;
  border-left-color: rgb(4 4 4 / var(--tw-border-opacity));
  border-right-color: rgb(4 4 4 / var(--tw-border-opacity));
}

.border-x-dblue-50 {
  --tw-border-opacity: 1;
  border-left-color: rgb(225 233 234 / var(--tw-border-opacity));
  border-right-color: rgb(225 233 234 / var(--tw-border-opacity));
}

.border-x-dblue-100 {
  --tw-border-opacity: 1;
  border-left-color: rgb(196 212 213 / var(--tw-border-opacity));
  border-right-color: rgb(196 212 213 / var(--tw-border-opacity));
}

.border-x-dblue-200 {
  --tw-border-opacity: 1;
  border-left-color: rgb(162 197 205 / var(--tw-border-opacity));
  border-right-color: rgb(162 197 205 / var(--tw-border-opacity));
}

.border-x-dblue-300 {
  --tw-border-opacity: 1;
  border-left-color: rgb(129 183 198 / var(--tw-border-opacity));
  border-right-color: rgb(129 183 198 / var(--tw-border-opacity));
}

.border-x-dblue-400 {
  --tw-border-opacity: 1;
  border-left-color: rgb(96 168 191 / var(--tw-border-opacity));
  border-right-color: rgb(96 168 191 / var(--tw-border-opacity));
}

.border-x-dblue-500 {
  --tw-border-opacity: 1;
  border-left-color: rgb(63 154 184 / var(--tw-border-opacity));
  border-right-color: rgb(63 154 184 / var(--tw-border-opacity));
}

.border-x-dblue-600 {
  --tw-border-opacity: 1;
  border-left-color: rgb(47 138 172 / var(--tw-border-opacity));
  border-right-color: rgb(47 138 172 / var(--tw-border-opacity));
}

.border-x-dblue-700 {
  --tw-border-opacity: 1;
  border-left-color: rgb(32 123 161 / var(--tw-border-opacity));
  border-right-color: rgb(32 123 161 / var(--tw-border-opacity));
}

.border-x-dblue-800 {
  --tw-border-opacity: 1;
  border-left-color: rgb(31 91 119 / var(--tw-border-opacity));
  border-right-color: rgb(31 91 119 / var(--tw-border-opacity));
}

.border-x-dblue-900 {
  --tw-border-opacity: 1;
  border-left-color: rgb(31 60 78 / var(--tw-border-opacity));
  border-right-color: rgb(31 60 78 / var(--tw-border-opacity));
}

.border-x-dyellow {
  --tw-border-opacity: 1;
  border-left-color: rgb(255 230 0 / var(--tw-border-opacity));
  border-right-color: rgb(255 230 0 / var(--tw-border-opacity));
}

.border-y-dgray-50 {
  --tw-border-opacity: 1;
  border-top-color: rgb(253 248 246 / var(--tw-border-opacity));
  border-bottom-color: rgb(253 248 246 / var(--tw-border-opacity));
}

.border-y-dgray-100 {
  --tw-border-opacity: 1;
  border-top-color: rgb(240 243 244 / var(--tw-border-opacity));
  border-bottom-color: rgb(240 243 244 / var(--tw-border-opacity));
}

.border-y-dgray-200 {
  --tw-border-opacity: 1;
  border-top-color: rgb(215 218 220 / var(--tw-border-opacity));
  border-bottom-color: rgb(215 218 220 / var(--tw-border-opacity));
}

.border-y-dgray-300 {
  --tw-border-opacity: 1;
  border-top-color: rgb(202 205 206 / var(--tw-border-opacity));
  border-bottom-color: rgb(202 205 206 / var(--tw-border-opacity));
}

.border-y-dgray-400 {
  --tw-border-opacity: 1;
  border-top-color: rgb(148 148 148 / var(--tw-border-opacity));
  border-bottom-color: rgb(148 148 148 / var(--tw-border-opacity));
}

.border-y-dgray-500 {
  --tw-border-opacity: 1;
  border-top-color: rgb(99 101 103 / var(--tw-border-opacity));
  border-bottom-color: rgb(99 101 103 / var(--tw-border-opacity));
}

.border-y-dgray-600 {
  --tw-border-opacity: 1;
  border-top-color: rgb(74 72 77 / var(--tw-border-opacity));
  border-bottom-color: rgb(74 72 77 / var(--tw-border-opacity));
}

.border-y-dgray-700 {
  --tw-border-opacity: 1;
  border-top-color: rgb(50 43 52 / var(--tw-border-opacity));
  border-bottom-color: rgb(50 43 52 / var(--tw-border-opacity));
}

.border-y-dgray-800 {
  --tw-border-opacity: 1;
  border-top-color: rgb(27 23 28 / var(--tw-border-opacity));
  border-bottom-color: rgb(27 23 28 / var(--tw-border-opacity));
}

.border-y-dgray-900 {
  --tw-border-opacity: 1;
  border-top-color: rgb(4 4 4 / var(--tw-border-opacity));
  border-bottom-color: rgb(4 4 4 / var(--tw-border-opacity));
}

.border-y-dblue-50 {
  --tw-border-opacity: 1;
  border-top-color: rgb(225 233 234 / var(--tw-border-opacity));
  border-bottom-color: rgb(225 233 234 / var(--tw-border-opacity));
}

.border-y-dblue-100 {
  --tw-border-opacity: 1;
  border-top-color: rgb(196 212 213 / var(--tw-border-opacity));
  border-bottom-color: rgb(196 212 213 / var(--tw-border-opacity));
}

.border-y-dblue-200 {
  --tw-border-opacity: 1;
  border-top-color: rgb(162 197 205 / var(--tw-border-opacity));
  border-bottom-color: rgb(162 197 205 / var(--tw-border-opacity));
}

.border-y-dblue-300 {
  --tw-border-opacity: 1;
  border-top-color: rgb(129 183 198 / var(--tw-border-opacity));
  border-bottom-color: rgb(129 183 198 / var(--tw-border-opacity));
}

.border-y-dblue-400 {
  --tw-border-opacity: 1;
  border-top-color: rgb(96 168 191 / var(--tw-border-opacity));
  border-bottom-color: rgb(96 168 191 / var(--tw-border-opacity));
}

.border-y-dblue-500 {
  --tw-border-opacity: 1;
  border-top-color: rgb(63 154 184 / var(--tw-border-opacity));
  border-bottom-color: rgb(63 154 184 / var(--tw-border-opacity));
}

.border-y-dblue-600 {
  --tw-border-opacity: 1;
  border-top-color: rgb(47 138 172 / var(--tw-border-opacity));
  border-bottom-color: rgb(47 138 172 / var(--tw-border-opacity));
}

.border-y-dblue-700 {
  --tw-border-opacity: 1;
  border-top-color: rgb(32 123 161 / var(--tw-border-opacity));
  border-bottom-color: rgb(32 123 161 / var(--tw-border-opacity));
}

.border-y-dblue-800 {
  --tw-border-opacity: 1;
  border-top-color: rgb(31 91 119 / var(--tw-border-opacity));
  border-bottom-color: rgb(31 91 119 / var(--tw-border-opacity));
}

.border-y-dblue-900 {
  --tw-border-opacity: 1;
  border-top-color: rgb(31 60 78 / var(--tw-border-opacity));
  border-bottom-color: rgb(31 60 78 / var(--tw-border-opacity));
}

.border-y-dyellow {
  --tw-border-opacity: 1;
  border-top-color: rgb(255 230 0 / var(--tw-border-opacity));
  border-bottom-color: rgb(255 230 0 / var(--tw-border-opacity));
}

.border-t-dgray-50 {
  --tw-border-opacity: 1;
  border-top-color: rgb(253 248 246 / var(--tw-border-opacity));
}

.border-t-dgray-100 {
  --tw-border-opacity: 1;
  border-top-color: rgb(240 243 244 / var(--tw-border-opacity));
}

.border-t-dgray-200 {
  --tw-border-opacity: 1;
  border-top-color: rgb(215 218 220 / var(--tw-border-opacity));
}

.border-t-dgray-300 {
  --tw-border-opacity: 1;
  border-top-color: rgb(202 205 206 / var(--tw-border-opacity));
}

.border-t-dgray-400 {
  --tw-border-opacity: 1;
  border-top-color: rgb(148 148 148 / var(--tw-border-opacity));
}

.border-t-dgray-500 {
  --tw-border-opacity: 1;
  border-top-color: rgb(99 101 103 / var(--tw-border-opacity));
}

.border-t-dgray-600 {
  --tw-border-opacity: 1;
  border-top-color: rgb(74 72 77 / var(--tw-border-opacity));
}

.border-t-dgray-700 {
  --tw-border-opacity: 1;
  border-top-color: rgb(50 43 52 / var(--tw-border-opacity));
}

.border-t-dgray-800 {
  --tw-border-opacity: 1;
  border-top-color: rgb(27 23 28 / var(--tw-border-opacity));
}

.border-t-dgray-900 {
  --tw-border-opacity: 1;
  border-top-color: rgb(4 4 4 / var(--tw-border-opacity));
}

.border-t-dblue-50 {
  --tw-border-opacity: 1;
  border-top-color: rgb(225 233 234 / var(--tw-border-opacity));
}

.border-t-dblue-100 {
  --tw-border-opacity: 1;
  border-top-color: rgb(196 212 213 / var(--tw-border-opacity));
}

.border-t-dblue-200 {
  --tw-border-opacity: 1;
  border-top-color: rgb(162 197 205 / var(--tw-border-opacity));
}

.border-t-dblue-300 {
  --tw-border-opacity: 1;
  border-top-color: rgb(129 183 198 / var(--tw-border-opacity));
}

.border-t-dblue-400 {
  --tw-border-opacity: 1;
  border-top-color: rgb(96 168 191 / var(--tw-border-opacity));
}

.border-t-dblue-500 {
  --tw-border-opacity: 1;
  border-top-color: rgb(63 154 184 / var(--tw-border-opacity));
}

.border-t-dblue-600 {
  --tw-border-opacity: 1;
  border-top-color: rgb(47 138 172 / var(--tw-border-opacity));
}

.border-t-dblue-700 {
  --tw-border-opacity: 1;
  border-top-color: rgb(32 123 161 / var(--tw-border-opacity));
}

.border-t-dblue-800 {
  --tw-border-opacity: 1;
  border-top-color: rgb(31 91 119 / var(--tw-border-opacity));
}

.border-t-dblue-900 {
  --tw-border-opacity: 1;
  border-top-color: rgb(31 60 78 / var(--tw-border-opacity));
}

.border-t-dyellow {
  --tw-border-opacity: 1;
  border-top-color: rgb(255 230 0 / var(--tw-border-opacity));
}

.border-r-dgray-50 {
  --tw-border-opacity: 1;
  border-right-color: rgb(253 248 246 / var(--tw-border-opacity));
}

.border-r-dgray-100 {
  --tw-border-opacity: 1;
  border-right-color: rgb(240 243 244 / var(--tw-border-opacity));
}

.border-r-dgray-200 {
  --tw-border-opacity: 1;
  border-right-color: rgb(215 218 220 / var(--tw-border-opacity));
}

.border-r-dgray-300 {
  --tw-border-opacity: 1;
  border-right-color: rgb(202 205 206 / var(--tw-border-opacity));
}

.border-r-dgray-400 {
  --tw-border-opacity: 1;
  border-right-color: rgb(148 148 148 / var(--tw-border-opacity));
}

.border-r-dgray-500 {
  --tw-border-opacity: 1;
  border-right-color: rgb(99 101 103 / var(--tw-border-opacity));
}

.border-r-dgray-600 {
  --tw-border-opacity: 1;
  border-right-color: rgb(74 72 77 / var(--tw-border-opacity));
}

.border-r-dgray-700 {
  --tw-border-opacity: 1;
  border-right-color: rgb(50 43 52 / var(--tw-border-opacity));
}

.border-r-dgray-800 {
  --tw-border-opacity: 1;
  border-right-color: rgb(27 23 28 / var(--tw-border-opacity));
}

.border-r-dgray-900 {
  --tw-border-opacity: 1;
  border-right-color: rgb(4 4 4 / var(--tw-border-opacity));
}

.border-r-dblue-50 {
  --tw-border-opacity: 1;
  border-right-color: rgb(225 233 234 / var(--tw-border-opacity));
}

.border-r-dblue-100 {
  --tw-border-opacity: 1;
  border-right-color: rgb(196 212 213 / var(--tw-border-opacity));
}

.border-r-dblue-200 {
  --tw-border-opacity: 1;
  border-right-color: rgb(162 197 205 / var(--tw-border-opacity));
}

.border-r-dblue-300 {
  --tw-border-opacity: 1;
  border-right-color: rgb(129 183 198 / var(--tw-border-opacity));
}

.border-r-dblue-400 {
  --tw-border-opacity: 1;
  border-right-color: rgb(96 168 191 / var(--tw-border-opacity));
}

.border-r-dblue-500 {
  --tw-border-opacity: 1;
  border-right-color: rgb(63 154 184 / var(--tw-border-opacity));
}

.border-r-dblue-600 {
  --tw-border-opacity: 1;
  border-right-color: rgb(47 138 172 / var(--tw-border-opacity));
}

.border-r-dblue-700 {
  --tw-border-opacity: 1;
  border-right-color: rgb(32 123 161 / var(--tw-border-opacity));
}

.border-r-dblue-800 {
  --tw-border-opacity: 1;
  border-right-color: rgb(31 91 119 / var(--tw-border-opacity));
}

.border-r-dblue-900 {
  --tw-border-opacity: 1;
  border-right-color: rgb(31 60 78 / var(--tw-border-opacity));
}

.border-r-dyellow {
  --tw-border-opacity: 1;
  border-right-color: rgb(255 230 0 / var(--tw-border-opacity));
}

.border-b-dgray-50 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(253 248 246 / var(--tw-border-opacity));
}

.border-b-dgray-100 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(240 243 244 / var(--tw-border-opacity));
}

.border-b-dgray-200 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(215 218 220 / var(--tw-border-opacity));
}

.border-b-dgray-300 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(202 205 206 / var(--tw-border-opacity));
}

.border-b-dgray-400 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(148 148 148 / var(--tw-border-opacity));
}

.border-b-dgray-500 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(99 101 103 / var(--tw-border-opacity));
}

.border-b-dgray-600 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(74 72 77 / var(--tw-border-opacity));
}

.border-b-dgray-700 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(50 43 52 / var(--tw-border-opacity));
}

.border-b-dgray-800 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(27 23 28 / var(--tw-border-opacity));
}

.border-b-dgray-900 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(4 4 4 / var(--tw-border-opacity));
}

.border-b-dblue-50 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(225 233 234 / var(--tw-border-opacity));
}

.border-b-dblue-100 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(196 212 213 / var(--tw-border-opacity));
}

.border-b-dblue-200 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(162 197 205 / var(--tw-border-opacity));
}

.border-b-dblue-300 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(129 183 198 / var(--tw-border-opacity));
}

.border-b-dblue-400 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(96 168 191 / var(--tw-border-opacity));
}

.border-b-dblue-500 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(63 154 184 / var(--tw-border-opacity));
}

.border-b-dblue-600 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(47 138 172 / var(--tw-border-opacity));
}

.border-b-dblue-700 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(32 123 161 / var(--tw-border-opacity));
}

.border-b-dblue-800 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(31 91 119 / var(--tw-border-opacity));
}

.border-b-dblue-900 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(31 60 78 / var(--tw-border-opacity));
}

.border-b-dyellow {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(255 230 0 / var(--tw-border-opacity));
}

.border-l-dgray-50 {
  --tw-border-opacity: 1;
  border-left-color: rgb(253 248 246 / var(--tw-border-opacity));
}

.border-l-dgray-100 {
  --tw-border-opacity: 1;
  border-left-color: rgb(240 243 244 / var(--tw-border-opacity));
}

.border-l-dgray-200 {
  --tw-border-opacity: 1;
  border-left-color: rgb(215 218 220 / var(--tw-border-opacity));
}

.border-l-dgray-300 {
  --tw-border-opacity: 1;
  border-left-color: rgb(202 205 206 / var(--tw-border-opacity));
}

.border-l-dgray-400 {
  --tw-border-opacity: 1;
  border-left-color: rgb(148 148 148 / var(--tw-border-opacity));
}

.border-l-dgray-500 {
  --tw-border-opacity: 1;
  border-left-color: rgb(99 101 103 / var(--tw-border-opacity));
}

.border-l-dgray-600 {
  --tw-border-opacity: 1;
  border-left-color: rgb(74 72 77 / var(--tw-border-opacity));
}

.border-l-dgray-700 {
  --tw-border-opacity: 1;
  border-left-color: rgb(50 43 52 / var(--tw-border-opacity));
}

.border-l-dgray-800 {
  --tw-border-opacity: 1;
  border-left-color: rgb(27 23 28 / var(--tw-border-opacity));
}

.border-l-dgray-900 {
  --tw-border-opacity: 1;
  border-left-color: rgb(4 4 4 / var(--tw-border-opacity));
}

.border-l-dblue-50 {
  --tw-border-opacity: 1;
  border-left-color: rgb(225 233 234 / var(--tw-border-opacity));
}

.border-l-dblue-100 {
  --tw-border-opacity: 1;
  border-left-color: rgb(196 212 213 / var(--tw-border-opacity));
}

.border-l-dblue-200 {
  --tw-border-opacity: 1;
  border-left-color: rgb(162 197 205 / var(--tw-border-opacity));
}

.border-l-dblue-300 {
  --tw-border-opacity: 1;
  border-left-color: rgb(129 183 198 / var(--tw-border-opacity));
}

.border-l-dblue-400 {
  --tw-border-opacity: 1;
  border-left-color: rgb(96 168 191 / var(--tw-border-opacity));
}

.border-l-dblue-500 {
  --tw-border-opacity: 1;
  border-left-color: rgb(63 154 184 / var(--tw-border-opacity));
}

.border-l-dblue-600 {
  --tw-border-opacity: 1;
  border-left-color: rgb(47 138 172 / var(--tw-border-opacity));
}

.border-l-dblue-700 {
  --tw-border-opacity: 1;
  border-left-color: rgb(32 123 161 / var(--tw-border-opacity));
}

.border-l-dblue-800 {
  --tw-border-opacity: 1;
  border-left-color: rgb(31 91 119 / var(--tw-border-opacity));
}

.border-l-dblue-900 {
  --tw-border-opacity: 1;
  border-left-color: rgb(31 60 78 / var(--tw-border-opacity));
}

.border-l-dyellow {
  --tw-border-opacity: 1;
  border-left-color: rgb(255 230 0 / var(--tw-border-opacity));
}

.bg-dblue-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(31 91 119 / var(--tw-bg-opacity));
}

.bg-dblue-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(196 212 213 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-dblue-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(31 60 78 / var(--tw-bg-opacity));
}

.bg-orange-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(124 45 18 / var(--tw-bg-opacity));
}

.bg-dgray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(253 248 246 / var(--tw-bg-opacity));
}

.bg-dgray-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(50 43 52 / var(--tw-bg-opacity));
}

.bg-dgray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(240 243 244 / var(--tw-bg-opacity));
}

.bg-dgray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(215 218 220 / var(--tw-bg-opacity));
}

.bg-dgray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(202 205 206 / var(--tw-bg-opacity));
}

.bg-dgray-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(148 148 148 / var(--tw-bg-opacity));
}

.bg-dgray-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(99 101 103 / var(--tw-bg-opacity));
}

.bg-dgray-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(74 72 77 / var(--tw-bg-opacity));
}

.bg-dgray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(27 23 28 / var(--tw-bg-opacity));
}

.bg-dgray-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(4 4 4 / var(--tw-bg-opacity));
}

.bg-dblue-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(225 233 234 / var(--tw-bg-opacity));
}

.bg-dblue-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(162 197 205 / var(--tw-bg-opacity));
}

.bg-dblue-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(129 183 198 / var(--tw-bg-opacity));
}

.bg-dblue-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(96 168 191 / var(--tw-bg-opacity));
}

.bg-dblue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(63 154 184 / var(--tw-bg-opacity));
}

.bg-dblue-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(47 138 172 / var(--tw-bg-opacity));
}

.bg-dblue-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(32 123 161 / var(--tw-bg-opacity));
}

.bg-dyellow {
  --tw-bg-opacity: 1;
  background-color: rgb(255 230 0 / var(--tw-bg-opacity));
}

.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.from-dblue-900 {
  --tw-gradient-from: #1f3c4e;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(31 60 78 / 0));
}

.from-dgray-50 {
  --tw-gradient-from: #fdf8f6;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(253 248 246 / 0));
}

.from-dgray-100 {
  --tw-gradient-from: #f0f3f4;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(240 243 244 / 0));
}

.from-dgray-200 {
  --tw-gradient-from: #d7dadc;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(215 218 220 / 0));
}

.from-dgray-300 {
  --tw-gradient-from: #cacdce;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(202 205 206 / 0));
}

.from-dgray-400 {
  --tw-gradient-from: #949494;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(148 148 148 / 0));
}

.from-dgray-500 {
  --tw-gradient-from: #636567;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(99 101 103 / 0));
}

.from-dgray-600 {
  --tw-gradient-from: #4a484d;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(74 72 77 / 0));
}

.from-dgray-700 {
  --tw-gradient-from: #322b34;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(50 43 52 / 0));
}

.from-dgray-800 {
  --tw-gradient-from: #1b171c;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(27 23 28 / 0));
}

.from-dgray-900 {
  --tw-gradient-from: #040404;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(4 4 4 / 0));
}

.from-dblue-50 {
  --tw-gradient-from: #e1e9ea;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(225 233 234 / 0));
}

.from-dblue-100 {
  --tw-gradient-from: #c4d4d5;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(196 212 213 / 0));
}

.from-dblue-200 {
  --tw-gradient-from: #a2c5cd;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(162 197 205 / 0));
}

.from-dblue-300 {
  --tw-gradient-from: #81b7c6;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(129 183 198 / 0));
}

.from-dblue-400 {
  --tw-gradient-from: #60a8bf;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(96 168 191 / 0));
}

.from-dblue-500 {
  --tw-gradient-from: #3f9ab8;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(63 154 184 / 0));
}

.from-dblue-600 {
  --tw-gradient-from: #2f8aac;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(47 138 172 / 0));
}

.from-dblue-700 {
  --tw-gradient-from: #207ba1;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(32 123 161 / 0));
}

.from-dblue-800 {
  --tw-gradient-from: #1f5b77;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(31 91 119 / 0));
}

.from-dyellow {
  --tw-gradient-from: #ffe600;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(255 230 0 / 0));
}

.via-dblue-800 {
  --tw-gradient-stops: var(--tw-gradient-from), #1f5b77, var(--tw-gradient-to, rgb(31 91 119 / 0));
}

.via-dgray-50 {
  --tw-gradient-stops: var(--tw-gradient-from), #fdf8f6, var(--tw-gradient-to, rgb(253 248 246 / 0));
}

.via-dgray-100 {
  --tw-gradient-stops: var(--tw-gradient-from), #f0f3f4, var(--tw-gradient-to, rgb(240 243 244 / 0));
}

.via-dgray-200 {
  --tw-gradient-stops: var(--tw-gradient-from), #d7dadc, var(--tw-gradient-to, rgb(215 218 220 / 0));
}

.via-dgray-300 {
  --tw-gradient-stops: var(--tw-gradient-from), #cacdce, var(--tw-gradient-to, rgb(202 205 206 / 0));
}

.via-dgray-400 {
  --tw-gradient-stops: var(--tw-gradient-from), #949494, var(--tw-gradient-to, rgb(148 148 148 / 0));
}

.via-dgray-500 {
  --tw-gradient-stops: var(--tw-gradient-from), #636567, var(--tw-gradient-to, rgb(99 101 103 / 0));
}

.via-dgray-600 {
  --tw-gradient-stops: var(--tw-gradient-from), #4a484d, var(--tw-gradient-to, rgb(74 72 77 / 0));
}

.via-dgray-700 {
  --tw-gradient-stops: var(--tw-gradient-from), #322b34, var(--tw-gradient-to, rgb(50 43 52 / 0));
}

.via-dgray-800 {
  --tw-gradient-stops: var(--tw-gradient-from), #1b171c, var(--tw-gradient-to, rgb(27 23 28 / 0));
}

.via-dgray-900 {
  --tw-gradient-stops: var(--tw-gradient-from), #040404, var(--tw-gradient-to, rgb(4 4 4 / 0));
}

.via-dblue-50 {
  --tw-gradient-stops: var(--tw-gradient-from), #e1e9ea, var(--tw-gradient-to, rgb(225 233 234 / 0));
}

.via-dblue-100 {
  --tw-gradient-stops: var(--tw-gradient-from), #c4d4d5, var(--tw-gradient-to, rgb(196 212 213 / 0));
}

.via-dblue-200 {
  --tw-gradient-stops: var(--tw-gradient-from), #a2c5cd, var(--tw-gradient-to, rgb(162 197 205 / 0));
}

.via-dblue-300 {
  --tw-gradient-stops: var(--tw-gradient-from), #81b7c6, var(--tw-gradient-to, rgb(129 183 198 / 0));
}

.via-dblue-400 {
  --tw-gradient-stops: var(--tw-gradient-from), #60a8bf, var(--tw-gradient-to, rgb(96 168 191 / 0));
}

.via-dblue-500 {
  --tw-gradient-stops: var(--tw-gradient-from), #3f9ab8, var(--tw-gradient-to, rgb(63 154 184 / 0));
}

.via-dblue-600 {
  --tw-gradient-stops: var(--tw-gradient-from), #2f8aac, var(--tw-gradient-to, rgb(47 138 172 / 0));
}

.via-dblue-700 {
  --tw-gradient-stops: var(--tw-gradient-from), #207ba1, var(--tw-gradient-to, rgb(32 123 161 / 0));
}

.via-dblue-900 {
  --tw-gradient-stops: var(--tw-gradient-from), #1f3c4e, var(--tw-gradient-to, rgb(31 60 78 / 0));
}

.via-dyellow {
  --tw-gradient-stops: var(--tw-gradient-from), #ffe600, var(--tw-gradient-to, rgb(255 230 0 / 0));
}

.to-dblue-700 {
  --tw-gradient-to: #207ba1;
}

.to-dgray-50 {
  --tw-gradient-to: #fdf8f6;
}

.to-dgray-100 {
  --tw-gradient-to: #f0f3f4;
}

.to-dgray-200 {
  --tw-gradient-to: #d7dadc;
}

.to-dgray-300 {
  --tw-gradient-to: #cacdce;
}

.to-dgray-400 {
  --tw-gradient-to: #949494;
}

.to-dgray-500 {
  --tw-gradient-to: #636567;
}

.to-dgray-600 {
  --tw-gradient-to: #4a484d;
}

.to-dgray-700 {
  --tw-gradient-to: #322b34;
}

.to-dgray-800 {
  --tw-gradient-to: #1b171c;
}

.to-dgray-900 {
  --tw-gradient-to: #040404;
}

.to-dblue-50 {
  --tw-gradient-to: #e1e9ea;
}

.to-dblue-100 {
  --tw-gradient-to: #c4d4d5;
}

.to-dblue-200 {
  --tw-gradient-to: #a2c5cd;
}

.to-dblue-300 {
  --tw-gradient-to: #81b7c6;
}

.to-dblue-400 {
  --tw-gradient-to: #60a8bf;
}

.to-dblue-500 {
  --tw-gradient-to: #3f9ab8;
}

.to-dblue-600 {
  --tw-gradient-to: #2f8aac;
}

.to-dblue-800 {
  --tw-gradient-to: #1f5b77;
}

.to-dblue-900 {
  --tw-gradient-to: #1f3c4e;
}

.to-dyellow {
  --tw-gradient-to: #ffe600;
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-scroll {
  background-attachment: scroll;
}

.bg-clip-border {
  background-clip: border-box;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.fill-white {
  fill: #fff;
}

.fill-dgray-50 {
  fill: #fdf8f6;
}

.fill-dgray-100 {
  fill: #f0f3f4;
}

.fill-dgray-200 {
  fill: #d7dadc;
}

.fill-dgray-300 {
  fill: #cacdce;
}

.fill-dgray-400 {
  fill: #949494;
}

.fill-dgray-500 {
  fill: #636567;
}

.fill-dgray-600 {
  fill: #4a484d;
}

.fill-dgray-700 {
  fill: #322b34;
}

.fill-dgray-800 {
  fill: #1b171c;
}

.fill-dgray-900 {
  fill: #040404;
}

.fill-dblue-50 {
  fill: #e1e9ea;
}

.fill-dblue-100 {
  fill: #c4d4d5;
}

.fill-dblue-200 {
  fill: #a2c5cd;
}

.fill-dblue-300 {
  fill: #81b7c6;
}

.fill-dblue-400 {
  fill: #60a8bf;
}

.fill-dblue-500 {
  fill: #3f9ab8;
}

.fill-dblue-600 {
  fill: #2f8aac;
}

.fill-dblue-700 {
  fill: #207ba1;
}

.fill-dblue-800 {
  fill: #1f5b77;
}

.fill-dblue-900 {
  fill: #1f3c4e;
}

.fill-dyellow {
  fill: #ffe600;
}

.stroke-dgray-50 {
  stroke: #fdf8f6;
}

.stroke-dgray-100 {
  stroke: #f0f3f4;
}

.stroke-dgray-200 {
  stroke: #d7dadc;
}

.stroke-dgray-300 {
  stroke: #cacdce;
}

.stroke-dgray-400 {
  stroke: #949494;
}

.stroke-dgray-500 {
  stroke: #636567;
}

.stroke-dgray-600 {
  stroke: #4a484d;
}

.stroke-dgray-700 {
  stroke: #322b34;
}

.stroke-dgray-800 {
  stroke: #1b171c;
}

.stroke-dgray-900 {
  stroke: #040404;
}

.stroke-dblue-50 {
  stroke: #e1e9ea;
}

.stroke-dblue-100 {
  stroke: #c4d4d5;
}

.stroke-dblue-200 {
  stroke: #a2c5cd;
}

.stroke-dblue-300 {
  stroke: #81b7c6;
}

.stroke-dblue-400 {
  stroke: #60a8bf;
}

.stroke-dblue-500 {
  stroke: #3f9ab8;
}

.stroke-dblue-600 {
  stroke: #2f8aac;
}

.stroke-dblue-700 {
  stroke: #207ba1;
}

.stroke-dblue-800 {
  stroke: #1f5b77;
}

.stroke-dblue-900 {
  stroke: #1f3c4e;
}

.stroke-dyellow {
  stroke: #ffe600;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-2 {
  padding: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.font-semibold {
  font-weight: 600;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-dgray-100 {
  --tw-text-opacity: 1;
  color: rgb(240 243 244 / var(--tw-text-opacity));
}

.text-dgray-200 {
  --tw-text-opacity: 1;
  color: rgb(215 218 220 / var(--tw-text-opacity));
}

.text-dgray-700 {
  --tw-text-opacity: 1;
  color: rgb(50 43 52 / var(--tw-text-opacity));
}

.text-slate-200 {
  --tw-text-opacity: 1;
  color: rgb(226 232 240 / var(--tw-text-opacity));
}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

.text-dgray-50 {
  --tw-text-opacity: 1;
  color: rgb(253 248 246 / var(--tw-text-opacity));
}

.text-dgray-300 {
  --tw-text-opacity: 1;
  color: rgb(202 205 206 / var(--tw-text-opacity));
}

.text-dgray-400 {
  --tw-text-opacity: 1;
  color: rgb(148 148 148 / var(--tw-text-opacity));
}

.text-dgray-500 {
  --tw-text-opacity: 1;
  color: rgb(99 101 103 / var(--tw-text-opacity));
}

.text-dgray-600 {
  --tw-text-opacity: 1;
  color: rgb(74 72 77 / var(--tw-text-opacity));
}

.text-dgray-800 {
  --tw-text-opacity: 1;
  color: rgb(27 23 28 / var(--tw-text-opacity));
}

.text-dgray-900 {
  --tw-text-opacity: 1;
  color: rgb(4 4 4 / var(--tw-text-opacity));
}

.text-dblue-50 {
  --tw-text-opacity: 1;
  color: rgb(225 233 234 / var(--tw-text-opacity));
}

.text-dblue-100 {
  --tw-text-opacity: 1;
  color: rgb(196 212 213 / var(--tw-text-opacity));
}

.text-dblue-200 {
  --tw-text-opacity: 1;
  color: rgb(162 197 205 / var(--tw-text-opacity));
}

.text-dblue-300 {
  --tw-text-opacity: 1;
  color: rgb(129 183 198 / var(--tw-text-opacity));
}

.text-dblue-400 {
  --tw-text-opacity: 1;
  color: rgb(96 168 191 / var(--tw-text-opacity));
}

.text-dblue-500 {
  --tw-text-opacity: 1;
  color: rgb(63 154 184 / var(--tw-text-opacity));
}

.text-dblue-600 {
  --tw-text-opacity: 1;
  color: rgb(47 138 172 / var(--tw-text-opacity));
}

.text-dblue-700 {
  --tw-text-opacity: 1;
  color: rgb(32 123 161 / var(--tw-text-opacity));
}

.text-dblue-800 {
  --tw-text-opacity: 1;
  color: rgb(31 91 119 / var(--tw-text-opacity));
}

.text-dblue-900 {
  --tw-text-opacity: 1;
  color: rgb(31 60 78 / var(--tw-text-opacity));
}

.text-dyellow {
  --tw-text-opacity: 1;
  color: rgb(255 230 0 / var(--tw-text-opacity));
}

.underline {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.decoration-dgray-50 {
  -webkit-text-decoration-color: #fdf8f6;
          text-decoration-color: #fdf8f6;
}

.decoration-dgray-100 {
  -webkit-text-decoration-color: #f0f3f4;
          text-decoration-color: #f0f3f4;
}

.decoration-dgray-200 {
  -webkit-text-decoration-color: #d7dadc;
          text-decoration-color: #d7dadc;
}

.decoration-dgray-300 {
  -webkit-text-decoration-color: #cacdce;
          text-decoration-color: #cacdce;
}

.decoration-dgray-400 {
  -webkit-text-decoration-color: #949494;
          text-decoration-color: #949494;
}

.decoration-dgray-500 {
  -webkit-text-decoration-color: #636567;
          text-decoration-color: #636567;
}

.decoration-dgray-600 {
  -webkit-text-decoration-color: #4a484d;
          text-decoration-color: #4a484d;
}

.decoration-dgray-700 {
  -webkit-text-decoration-color: #322b34;
          text-decoration-color: #322b34;
}

.decoration-dgray-800 {
  -webkit-text-decoration-color: #1b171c;
          text-decoration-color: #1b171c;
}

.decoration-dgray-900 {
  -webkit-text-decoration-color: #040404;
          text-decoration-color: #040404;
}

.decoration-dblue-50 {
  -webkit-text-decoration-color: #e1e9ea;
          text-decoration-color: #e1e9ea;
}

.decoration-dblue-100 {
  -webkit-text-decoration-color: #c4d4d5;
          text-decoration-color: #c4d4d5;
}

.decoration-dblue-200 {
  -webkit-text-decoration-color: #a2c5cd;
          text-decoration-color: #a2c5cd;
}

.decoration-dblue-300 {
  -webkit-text-decoration-color: #81b7c6;
          text-decoration-color: #81b7c6;
}

.decoration-dblue-400 {
  -webkit-text-decoration-color: #60a8bf;
          text-decoration-color: #60a8bf;
}

.decoration-dblue-500 {
  -webkit-text-decoration-color: #3f9ab8;
          text-decoration-color: #3f9ab8;
}

.decoration-dblue-600 {
  -webkit-text-decoration-color: #2f8aac;
          text-decoration-color: #2f8aac;
}

.decoration-dblue-700 {
  -webkit-text-decoration-color: #207ba1;
          text-decoration-color: #207ba1;
}

.decoration-dblue-800 {
  -webkit-text-decoration-color: #1f5b77;
          text-decoration-color: #1f5b77;
}

.decoration-dblue-900 {
  -webkit-text-decoration-color: #1f3c4e;
          text-decoration-color: #1f3c4e;
}

.decoration-dyellow {
  -webkit-text-decoration-color: #ffe600;
          text-decoration-color: #ffe600;
}

.placeholder-dgray-50::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(253 248 246 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-50:-ms-input-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(253 248 246 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-50::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(253 248 246 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-100::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(240 243 244 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-100:-ms-input-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(240 243 244 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-100::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(240 243 244 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-200::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(215 218 220 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-200:-ms-input-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(215 218 220 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-200::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(215 218 220 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-300::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(202 205 206 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-300:-ms-input-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(202 205 206 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-300::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(202 205 206 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-400::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(148 148 148 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-400:-ms-input-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(148 148 148 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-400::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(148 148 148 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-500::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(99 101 103 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-500:-ms-input-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(99 101 103 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-500::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(99 101 103 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-600::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(74 72 77 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-600:-ms-input-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(74 72 77 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-600::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(74 72 77 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-700::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(50 43 52 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-700:-ms-input-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(50 43 52 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-700::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(50 43 52 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-800::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(27 23 28 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-800:-ms-input-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(27 23 28 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-800::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(27 23 28 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-900::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(4 4 4 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-900:-ms-input-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(4 4 4 / var(--tw-placeholder-opacity));
}

.placeholder-dgray-900::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(4 4 4 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-50::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(225 233 234 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-50:-ms-input-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(225 233 234 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-50::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(225 233 234 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-100::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(196 212 213 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-100:-ms-input-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(196 212 213 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-100::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(196 212 213 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-200::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(162 197 205 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-200:-ms-input-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(162 197 205 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-200::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(162 197 205 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-300::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(129 183 198 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-300:-ms-input-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(129 183 198 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-300::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(129 183 198 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-400::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(96 168 191 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-400:-ms-input-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(96 168 191 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-400::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(96 168 191 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-500::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(63 154 184 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-500:-ms-input-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(63 154 184 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-500::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(63 154 184 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-600::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(47 138 172 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-600:-ms-input-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(47 138 172 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-600::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(47 138 172 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-700::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(32 123 161 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-700:-ms-input-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(32 123 161 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-700::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(32 123 161 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-800::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(31 91 119 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-800:-ms-input-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(31 91 119 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-800::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(31 91 119 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-900::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(31 60 78 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-900:-ms-input-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(31 60 78 / var(--tw-placeholder-opacity));
}

.placeholder-dblue-900::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(31 60 78 / var(--tw-placeholder-opacity));
}

.placeholder-dyellow::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(255 230 0 / var(--tw-placeholder-opacity));
}

.placeholder-dyellow:-ms-input-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(255 230 0 / var(--tw-placeholder-opacity));
}

.placeholder-dyellow::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(255 230 0 / var(--tw-placeholder-opacity));
}

.caret-dgray-50 {
  caret-color: #fdf8f6;
}

.caret-dgray-100 {
  caret-color: #f0f3f4;
}

.caret-dgray-200 {
  caret-color: #d7dadc;
}

.caret-dgray-300 {
  caret-color: #cacdce;
}

.caret-dgray-400 {
  caret-color: #949494;
}

.caret-dgray-500 {
  caret-color: #636567;
}

.caret-dgray-600 {
  caret-color: #4a484d;
}

.caret-dgray-700 {
  caret-color: #322b34;
}

.caret-dgray-800 {
  caret-color: #1b171c;
}

.caret-dgray-900 {
  caret-color: #040404;
}

.caret-dblue-50 {
  caret-color: #e1e9ea;
}

.caret-dblue-100 {
  caret-color: #c4d4d5;
}

.caret-dblue-200 {
  caret-color: #a2c5cd;
}

.caret-dblue-300 {
  caret-color: #81b7c6;
}

.caret-dblue-400 {
  caret-color: #60a8bf;
}

.caret-dblue-500 {
  caret-color: #3f9ab8;
}

.caret-dblue-600 {
  caret-color: #2f8aac;
}

.caret-dblue-700 {
  caret-color: #207ba1;
}

.caret-dblue-800 {
  caret-color: #1f5b77;
}

.caret-dblue-900 {
  caret-color: #1f3c4e;
}

.caret-dyellow {
  caret-color: #ffe600;
}

.accent-dgray-50 {
  accent-color: #fdf8f6;
}

.accent-dgray-100 {
  accent-color: #f0f3f4;
}

.accent-dgray-200 {
  accent-color: #d7dadc;
}

.accent-dgray-300 {
  accent-color: #cacdce;
}

.accent-dgray-400 {
  accent-color: #949494;
}

.accent-dgray-500 {
  accent-color: #636567;
}

.accent-dgray-600 {
  accent-color: #4a484d;
}

.accent-dgray-700 {
  accent-color: #322b34;
}

.accent-dgray-800 {
  accent-color: #1b171c;
}

.accent-dgray-900 {
  accent-color: #040404;
}

.accent-dblue-50 {
  accent-color: #e1e9ea;
}

.accent-dblue-100 {
  accent-color: #c4d4d5;
}

.accent-dblue-200 {
  accent-color: #a2c5cd;
}

.accent-dblue-300 {
  accent-color: #81b7c6;
}

.accent-dblue-400 {
  accent-color: #60a8bf;
}

.accent-dblue-500 {
  accent-color: #3f9ab8;
}

.accent-dblue-600 {
  accent-color: #2f8aac;
}

.accent-dblue-700 {
  accent-color: #207ba1;
}

.accent-dblue-800 {
  accent-color: #1f5b77;
}

.accent-dblue-900 {
  accent-color: #1f3c4e;
}

.accent-dyellow {
  accent-color: #ffe600;
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-dgray-50 {
  --tw-shadow-color: #fdf8f6;
  --tw-shadow: var(--tw-shadow-colored);
}

.shadow-dgray-100 {
  --tw-shadow-color: #f0f3f4;
  --tw-shadow: var(--tw-shadow-colored);
}

.shadow-dgray-200 {
  --tw-shadow-color: #d7dadc;
  --tw-shadow: var(--tw-shadow-colored);
}

.shadow-dgray-300 {
  --tw-shadow-color: #cacdce;
  --tw-shadow: var(--tw-shadow-colored);
}

.shadow-dgray-400 {
  --tw-shadow-color: #949494;
  --tw-shadow: var(--tw-shadow-colored);
}

.shadow-dgray-500 {
  --tw-shadow-color: #636567;
  --tw-shadow: var(--tw-shadow-colored);
}

.shadow-dgray-600 {
  --tw-shadow-color: #4a484d;
  --tw-shadow: var(--tw-shadow-colored);
}

.shadow-dgray-700 {
  --tw-shadow-color: #322b34;
  --tw-shadow: var(--tw-shadow-colored);
}

.shadow-dgray-800 {
  --tw-shadow-color: #1b171c;
  --tw-shadow: var(--tw-shadow-colored);
}

.shadow-dgray-900 {
  --tw-shadow-color: #040404;
  --tw-shadow: var(--tw-shadow-colored);
}

.shadow-dblue-50 {
  --tw-shadow-color: #e1e9ea;
  --tw-shadow: var(--tw-shadow-colored);
}

.shadow-dblue-100 {
  --tw-shadow-color: #c4d4d5;
  --tw-shadow: var(--tw-shadow-colored);
}

.shadow-dblue-200 {
  --tw-shadow-color: #a2c5cd;
  --tw-shadow: var(--tw-shadow-colored);
}

.shadow-dblue-300 {
  --tw-shadow-color: #81b7c6;
  --tw-shadow: var(--tw-shadow-colored);
}

.shadow-dblue-400 {
  --tw-shadow-color: #60a8bf;
  --tw-shadow: var(--tw-shadow-colored);
}

.shadow-dblue-500 {
  --tw-shadow-color: #3f9ab8;
  --tw-shadow: var(--tw-shadow-colored);
}

.shadow-dblue-600 {
  --tw-shadow-color: #2f8aac;
  --tw-shadow: var(--tw-shadow-colored);
}

.shadow-dblue-700 {
  --tw-shadow-color: #207ba1;
  --tw-shadow: var(--tw-shadow-colored);
}

.shadow-dblue-800 {
  --tw-shadow-color: #1f5b77;
  --tw-shadow: var(--tw-shadow-colored);
}

.shadow-dblue-900 {
  --tw-shadow-color: #1f3c4e;
  --tw-shadow: var(--tw-shadow-colored);
}

.shadow-dyellow {
  --tw-shadow-color: #ffe600;
  --tw-shadow: var(--tw-shadow-colored);
}

.outline-dgray-50 {
  outline-color: #fdf8f6;
}

.outline-dgray-100 {
  outline-color: #f0f3f4;
}

.outline-dgray-200 {
  outline-color: #d7dadc;
}

.outline-dgray-300 {
  outline-color: #cacdce;
}

.outline-dgray-400 {
  outline-color: #949494;
}

.outline-dgray-500 {
  outline-color: #636567;
}

.outline-dgray-600 {
  outline-color: #4a484d;
}

.outline-dgray-700 {
  outline-color: #322b34;
}

.outline-dgray-800 {
  outline-color: #1b171c;
}

.outline-dgray-900 {
  outline-color: #040404;
}

.outline-dblue-50 {
  outline-color: #e1e9ea;
}

.outline-dblue-100 {
  outline-color: #c4d4d5;
}

.outline-dblue-200 {
  outline-color: #a2c5cd;
}

.outline-dblue-300 {
  outline-color: #81b7c6;
}

.outline-dblue-400 {
  outline-color: #60a8bf;
}

.outline-dblue-500 {
  outline-color: #3f9ab8;
}

.outline-dblue-600 {
  outline-color: #2f8aac;
}

.outline-dblue-700 {
  outline-color: #207ba1;
}

.outline-dblue-800 {
  outline-color: #1f5b77;
}

.outline-dblue-900 {
  outline-color: #1f3c4e;
}

.outline-dyellow {
  outline-color: #ffe600;
}

.ring-dgray-50 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(253 248 246 / var(--tw-ring-opacity));
}

.ring-dgray-100 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(240 243 244 / var(--tw-ring-opacity));
}

.ring-dgray-200 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(215 218 220 / var(--tw-ring-opacity));
}

.ring-dgray-300 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(202 205 206 / var(--tw-ring-opacity));
}

.ring-dgray-400 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(148 148 148 / var(--tw-ring-opacity));
}

.ring-dgray-500 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(99 101 103 / var(--tw-ring-opacity));
}

.ring-dgray-600 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(74 72 77 / var(--tw-ring-opacity));
}

.ring-dgray-700 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(50 43 52 / var(--tw-ring-opacity));
}

.ring-dgray-800 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(27 23 28 / var(--tw-ring-opacity));
}

.ring-dgray-900 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(4 4 4 / var(--tw-ring-opacity));
}

.ring-dblue-50 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(225 233 234 / var(--tw-ring-opacity));
}

.ring-dblue-100 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(196 212 213 / var(--tw-ring-opacity));
}

.ring-dblue-200 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(162 197 205 / var(--tw-ring-opacity));
}

.ring-dblue-300 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(129 183 198 / var(--tw-ring-opacity));
}

.ring-dblue-400 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(96 168 191 / var(--tw-ring-opacity));
}

.ring-dblue-500 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(63 154 184 / var(--tw-ring-opacity));
}

.ring-dblue-600 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(47 138 172 / var(--tw-ring-opacity));
}

.ring-dblue-700 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(32 123 161 / var(--tw-ring-opacity));
}

.ring-dblue-800 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(31 91 119 / var(--tw-ring-opacity));
}

.ring-dblue-900 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(31 60 78 / var(--tw-ring-opacity));
}

.ring-dyellow {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(255 230 0 / var(--tw-ring-opacity));
}

.ring-offset-dgray-50 {
  --tw-ring-offset-color: #fdf8f6;
}

.ring-offset-dgray-100 {
  --tw-ring-offset-color: #f0f3f4;
}

.ring-offset-dgray-200 {
  --tw-ring-offset-color: #d7dadc;
}

.ring-offset-dgray-300 {
  --tw-ring-offset-color: #cacdce;
}

.ring-offset-dgray-400 {
  --tw-ring-offset-color: #949494;
}

.ring-offset-dgray-500 {
  --tw-ring-offset-color: #636567;
}

.ring-offset-dgray-600 {
  --tw-ring-offset-color: #4a484d;
}

.ring-offset-dgray-700 {
  --tw-ring-offset-color: #322b34;
}

.ring-offset-dgray-800 {
  --tw-ring-offset-color: #1b171c;
}

.ring-offset-dgray-900 {
  --tw-ring-offset-color: #040404;
}

.ring-offset-dblue-50 {
  --tw-ring-offset-color: #e1e9ea;
}

.ring-offset-dblue-100 {
  --tw-ring-offset-color: #c4d4d5;
}

.ring-offset-dblue-200 {
  --tw-ring-offset-color: #a2c5cd;
}

.ring-offset-dblue-300 {
  --tw-ring-offset-color: #81b7c6;
}

.ring-offset-dblue-400 {
  --tw-ring-offset-color: #60a8bf;
}

.ring-offset-dblue-500 {
  --tw-ring-offset-color: #3f9ab8;
}

.ring-offset-dblue-600 {
  --tw-ring-offset-color: #2f8aac;
}

.ring-offset-dblue-700 {
  --tw-ring-offset-color: #207ba1;
}

.ring-offset-dblue-800 {
  --tw-ring-offset-color: #1f5b77;
}

.ring-offset-dblue-900 {
  --tw-ring-offset-color: #1f3c4e;
}

.ring-offset-dyellow {
  --tw-ring-offset-color: #ffe600;
}

:root {
  --dgray-100: #f0f3f4;
  --dgray-200: #d7dadc;
  --light-gray: #cacdce;
  /* gray-300 */
  --spanish-gray: #949494;
  /* gray-400  */
  --dim-gray: #636567;
  /* gray-500*/
  --dgray-600: #4a484d;
  --raisin-black: #322b34;
  /* gray-700 */
  --dgray-800: #1b171c;
  --rich-black-fogra-39: #040404;
  /* gray-900 */
  --silver-sand: #c4d4d5;
  /* blue-100 */
  --dblue-200: '#a2c5cd';
  --dblue-300: '#81b7c6';
  --dblue-400: '#60a8bf';
  --blue-green: #3f9ab8;
  /* blue-500 */
  --dblue-600: '#2f8aac';
  --celadon-blue: #207ba1;
  /* blue-700 */
  --dblue-800: '#1f5b77';
  --charcoal: #1f3c4e;
  /* blue-900 */
  --middle-yellow: #ffe600;
  /* yellow */
}

body {
  background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='79.9' viewBox='0 0 100 199'%3E%3Cg fill='%207ba1ff' fill-opacity='0.3'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E")
}

.hover\:bg-dblue-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(47 138 172 / var(--tw-bg-opacity));
}

.hover\:bg-dblue-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(196 212 213 / var(--tw-bg-opacity));
}

.hover\:bg-dgray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(240 243 244 / var(--tw-bg-opacity));
}

.hover\:bg-dgray-50:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(253 248 246 / var(--tw-bg-opacity));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-dblue-400:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(96 168 191 / var(--tw-ring-opacity));
}

.focus\:ring-dblue-200:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(162 197 205 / var(--tw-ring-opacity));
}

.focus\:ring-dgray-200:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(215 218 220 / var(--tw-ring-opacity));
}

@media (prefers-color-scheme: dark) {
  .dark\:border-dgray-700 {
    --tw-border-opacity: 1;
    border-color: rgb(50 43 52 / var(--tw-border-opacity));
  }

  .dark\:border-blue-400 {
    --tw-border-opacity: 1;
    border-color: rgb(96 165 250 / var(--tw-border-opacity));
  }

  .dark\:bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  }

  .dark\:text-dgray-400 {
    --tw-text-opacity: 1;
    color: rgb(148 148 148 / var(--tw-text-opacity));
  }

  .dark\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  .dark\:text-gray-200 {
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity));
  }

  .dark\:text-blue-300 {
    --tw-text-opacity: 1;
    color: rgb(147 197 253 / var(--tw-text-opacity));
  }

  .dark\:hover\:bg-dgray-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(50 43 52 / var(--tw-bg-opacity));
  }

  .dark\:hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  .dark\:focus\:ring-dgray-600:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(74 72 77 / var(--tw-ring-opacity));
  }
}

@media (min-width: 768px) {
  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:block {
    display: block;
  }

  .md\:inline-flex {
    display: inline-flex;
  }

  .md\:hidden {
    display: none;
  }

  .md\:w-auto {
    width: auto;
  }

  .md\:justify-end {
    justify-content: flex-end;
  }

  .md\:border-0 {
    border-width: 0px;
  }

  .md\:p-0 {
    padding: 0px;
  }

  .md\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .md\:hover\:bg-transparent:hover {
    background-color: transparent;
  }

  .md\:hover\:text-dblue-700:hover {
    --tw-text-opacity: 1;
    color: rgb(32 123 161 / var(--tw-text-opacity));
  }

  @media (prefers-color-scheme: dark) {
    .md\:dark\:hover\:bg-transparent:hover {
      background-color: transparent;
    }
  }

  @media (prefers-color-scheme: dark) {
    .md\:dark\:hover\:text-white:hover {
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity));
    }
  }
}
