/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/
body {
	@apply bg-background font-sans text-foreground;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='79.9' viewBox='0 0 100 199'%3E%3Cg fill='%207ba1ff' fill-opacity='0.3'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E")
}

h1 {
	@apply text-2xl font-bold mb-3;
  }
  h2 {
	@apply text-xl font-bold mb-2;
  }
  h3 {
	@apply text-lg font-medium mb-1;
  }
  h4 {
	@apply text-lg font-medium mb-1;
  }
  h5 {
	@apply text-base mb-1;
  }

  #seccion-servicios {
	background-image: url('./assets/images/2013_libro_disenando.jpg');
  }

  #seccion-proyectos {
	background-image: url('./assets/images/cartografia_trans.png');
	background-size: cover;
  }

  #pie1 {
	background-image: url('./assets/images/fondopie_iglesia.png');
	background-position: bottom right;
	background-size: contain;
	background-repeat: no-repeat;
  }
